#humblepress-notice,
#humblepress-form {
  z-index: 10000;
  width: 100%;
  display: block;
  position: absolute;
  background-color: #e2e2e2;
}

#humblepress-notice {
  background-color: #fcff98;
}

#humblepress-form p,
#humblepress-form textarea {
  width: 100%;
  display: block;
}

#humblepress-form textarea {
  background-color: #fff;
}

#humblepress-notice button,
#humblepress-form button {
  display: inline-block;
  margin-right: 2px;
}
